.App {

  /* background-color: rgb(16,16,16);  */
}

.outtercontainer{
  background-color: rgb(16,16,16);
  position: relative;
  list-style-type: none;
  
  width: 900px;
  padding: 0px;
  display: flex;
  flex-flow: wrap row;
  justify-content:  space-evenly;
  align-items: center;
  margin: 0px auto;
}

.outterlist{
  
  margin: 30px;
}










